@model VIETTEL.Areas.QLNH.Models.DuAnHopDong.KeHoachTongTheTTCP.KeHoachTongTheTTCPChiTietGridViewModel

<div class="tooltip-header-search">
    <div class="col-sm-5" style="padding-left:0px;">
        <div>
            <span>
                Kế hoạch giai đoạn:
                @if (Model.NH_KHTongTheTTCP_NVCViewModel.iLoai.HasValue)
                {
                    if (Model.NH_KHTongTheTTCP_NVCViewModel.iLoai.Value == 1)
                    {
                        <span style="color: red">@Html.Raw(Html.Encode(Model.NH_KHTongTheTTCP_NVCViewModel.iGiaiDoanTu)) - @Html.Raw(Html.Encode(Model.NH_KHTongTheTTCP_NVCViewModel.iGiaiDoanDen))</span>
                    }
                    else
                    {
                        <span style="color: red">@Html.Raw(Html.Encode(Model.NH_KHTongTheTTCP_NVCViewModel.iNamKeHoach))</span>
                    }
                }
            </span><br>
            <span>Kế hoạch tổng thể Thủ tướng Chính phủ phê duyệt: <span style="color: red">@Html.Raw(Html.Encode(Model.NH_KHTongTheTTCP_NVCViewModel.sSoKeHoach)) @(Model.NH_KHTongTheTTCP_NVCViewModel.dNgayKeHoach.HasValue ? ("- " + Model.NH_KHTongTheTTCP_NVCViewModel.dNgayKeHoach.Value.ToString("dd/MM/yyyy")) : "")</span></span>
        </div>
    </div>
    <div class="col-sm-7">
        <p class="pull-right" style="margin-top: 10px; font-size:14px;">&nbsp;&nbsp;Xóa tìm kiếm</p>
        <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Tìm kiếm</p>
        <label class="control-label pull-right" style="padding-left:20px;">Ent: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Lưu</p>
        <label class="control-label pull-right" style="padding-left:20px;">F10: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Xóa</p>
        <label class="control-label pull-right" style="padding-left:20px;">Delete: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Thêm chương trình con</p>
        <label class="control-label pull-right" style="padding-left:20px;color:red;">F2: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Thêm chương trình</p>
        <label class="control-label pull-right" style="padding-left:20px;color:red;">F1: </label>
    </div>

</div>
<iframe id="sheet" name="iframe-sheet" class="iframe-sheet"></iframe>
<div class="">
    <div id="nhapform">
        <div id="form2">
            <div class="button-bar">
                <div class="text-center">
                    <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary btn-save" id="btnSave"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="hr-split" />
<div id="ajax-div">
</div>
@* Modal confirm *@
<div id="divModalConfirm">

</div>
<script type="text/javascript">
    $(".btn-save").click(function () {
        $("#sheet")[0].contentWindow.KHTT_TTCP_BangDuLieu_Save();
    });

    loadFrame();

    function goBack() {
        window.location.href = "/QLNH/KeHoachTongTheTTCP/Index/";
    }

    function loadFrame(option) {
        var url = '@Url.Action("SheetFrame")'
            + "/?state=" + '@Model.NH_KHTongTheTTCP_NVCViewModel.State'
            + "&KHTTCP_ID=" + '@(Model.NH_KHTongTheTTCP_NVCViewModel.State == "CREATE" || (Model.NH_KHTongTheTTCP_NVCViewModel.State == "ADJUST" && Model.IsUseLastTTCP) ? Model.NH_KHTongTheTTCPModel.iID_ParentID : Model.NH_KHTongTheTTCPModel.ID)'
            + "&iID_BQuanLyID=" + '@(Model.NH_KHTongTheTTCP_NVCViewModel.State == "DETAIL" ? Model.NH_KHTongTheTTCPModel.iID_BQuanLyID : null)';
        $("#sheet").attr("src", url);
    }

    function loadModal(data) {
        $("#divModalConfirm").html(data);
    }
</script>
