@using Viettel.Models.QLVonDauTu
@model KHVNDXPrintDataExportModel
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
</style>
@*Thông tin nội dung*@

<div class="form-group">
    <h4 class="color-text-red">Thông tin báo cáo:</h4>
    <hr class='color-background-red' />
</div>

<div class="form-group row">
    <div class="col-sm-4">
        <div class="col-sm-12 form-group">
            <label for="iIdLoaiChungTuTH">Loại chứng từ</label>
            @Helpers.Required()
            <select id="iIdLoaiChungTuTH" name="iIdLoaiChungTuTH" class="form-control">
                <option value="1" selected>Gốc</option>
                <option value="2">Điều chỉnh</option>
            </select>
        </div>

        <div class="col-sm-12 form-group">
            <label for="iID_DonViQuanLyIDTH">Đơn vị</label>
            @Helpers.Required()
            @Html.DropDownList("iID_DonViQuanLyIDTH", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyIDTH" })
        </div>

        <div class="col-sm-12 form-group">
            <label for="iNamKeHoachTH">Năm kế hoạch</label>
            @Helpers.Required()
            <input type="text" id="iNamKeHoachTH" name="iNamKeHoachTH" onchange="GetDataNamKeHoach()" class="form-control yearFormat" value="@Model.iNamKeHoach" maxlength="4" />
        </div>

        <div class="col-sm-12 form-group">
            <label for="txt_KeHoach5NamDeXuat">Chọn chứng từ</label>
            @Helpers.Required()
            @*<select id="iID_KeHoach5Nam_DeXuatID" class="form-control clearable"></select>*@
            @Html.DropDownList("iID_KeHoach5Nam_DeXuatID", (SelectList)(ViewBag.ListChungTuTH), new { @class = "form-control", @id = "iID_KeHoach5Nam_DeXuatID" })
        </div>

        <div class="col-sm-12 form-group" id="divNguonVonTH">
            <label for="iID_MaNguonNganSachTH">Nguồn vốn</label>
            @Helpers.Required()
            @Html.DropDownList("iID_MaNguonNganSachTH", (SelectList)(ViewBag.LstNguonVon), new { @class = "form-control nguonvon", @id = "iID_MaNguonNganSachTH" })
        </div>
    </div>
    <div class="col-sm-4">
        <div id="divMauBaoCaoTH" class="col-sm-12 form-group" style="display:none">
            <label for="iIdMauBaoCaoTH">Mẫu báo cáo</label>
            @Helpers.Required()
            <select id="iIdMauBaoCaoTH" name="iIdMauBaoCaoTH" class="form-control">
                <option value="1" selected>BM03/TT268 - Ngân sách quốc phòng</option>
                <option value="2">BM04/TT268 - Ngân sách khác</option>
            </select>
        </div>

        <div class="col-sm-12 form-group">
            <label for="iID_LoaiCongTrinhTH">Loại công trình </label>
            @Helpers.Required()
            @Html.DropDownList("iID_LoaiCongTrinhTH", (SelectList)(ViewBag.ListLoaiCongTrinh), new { @class = "form-control", @id = "iID_LoaiCongTrinhTH" })
        </div>


        <div id="divCongTrinhTH" class="col-sm-12 form-group">
            <label for="iIdCongTrinhTH">Công trình</label>
            @Helpers.Required()
            <select id="iIdCongTrinhTH" name="iIdCongTrinhTH" class="form-control">
                <option value="0" selected>--Tất cả--</option>
                <option value="1">Khởi công mới</option>
                <option value="2">Chuyển tiếp</option>
            </select>
        </div>


        <div class="col-sm-12 form-group">
            <label for="ValueItemTH">Đơn vị tính</label>
            @Helpers.Required()
            @Html.DropDownList("ValueItemTH", (SelectList)(ViewBag.LstDonViTinh), new { @class = "form-control", @id = "ValueItemTH" })
        </div>

        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe1TH">Tiêu đề 1</label>
            <input type="text" required id="txt_TieuDe1TH" name="txt_TieuDe1TH" class="form-control" value="KẾ HOẠCH ĐẦU TƯ VỐN NĂM ...." maxlength="500" />
        </div>

        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe2TH">Tiêu đề 2</label>
            <input type="text" required id="txt_TieuDe2TH" name="txt_TieuDe2TH" class="form-control" value="(Kèm theo Báo cáo số ...... ngày ... tháng ... năm ...)" maxlength="500" />
        </div>
    </div>
    <div class="col-sm-4 form-group" id="divTblNguonVonTH" style="display:none">
        <div class="col-sm-12 tableFixHead" id="">
            @{
                <table class="table table-bordered" id="tblListNguonVonTH">
                    <thead>
                    <th><input type="checkbox" name="cbAll_NguonVonTH" class="cbAll_NguonVonTH" /></th>
                    <th width="90%">Nguồn vốn</th>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in (SelectList)ViewBag.LstNguonVon)
                            {
                                if (item.Value != "1")
                                {
                                    <tr style="cursor: pointer">
                                        <td align="center"><input type="checkbox" name="cb_NguonVonTH" class="cb_NguonVonTH" value="@item.Value" /></td>
                                        <td align="left">@item.Text</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#iIdLoaiChungTuTH").on("change", function () {
            ChangeUITH();
            GetDataNamKeHoach();
        });

        $("#iID_DonViQuanLyIDTH").on("change", function () {
            GetDataNamKeHoach();
        });

        $("#iNamKeHoachTH").on("change", function () {
            GetDataNamKeHoach();
        });

        $("#iIdMauBaoCaoTH").on("change", function() {
            ChangeUITH();
        });
        GetDataNamKeHoach();
    });

    function ChangeUITH() {
        var iIdLoaiChungTuTH = $("#iIdLoaiChungTuTH").val();
        $("#divTblNguonVonTH").hide();
        $("#divNguonVonTH").show();
        if (iIdLoaiChungTuTH == "1")
        {
            $("#divMauBaoCaoTH").hide();
            $("#divCongTrinhTH").show();
        }
        else
        {
            $("#divMauBaoCaoTH").show();
            $("#divCongTrinhTH").hide();
            if ($("#iIdMauBaoCaoTH").val() == "2")
            {
                $("#divNguonVonTH").hide();
                $("#divTblNguonVonTH").show();
            }
        }
    }

    function GetDataNamKeHoach() {
        $("#iID_KeHoach5Nam_DeXuatID").empty();
        var iID_DonViQLValue = $("#iID_DonViQuanLyIDTH").val();
        var iNamKeHoachValue = $("#iNamKeHoachTH").val();
        var iLoaiChungTu = $("#iIdLoaiChungTuTH").val();
        if (iID_DonViQLValue == null || iID_DonViQLValue == "" || iNamKeHoachValue == null || iNamKeHoachValue == "") return;
        $.ajax({
            type: "POST",
            url: "/QLVonDauTu/KeHoachVonNamDeXuat/GetDataChungtu",
            data: { idMadv: iID_DonViQLValue, namKh: iNamKeHoachValue, iLoaiChungTu: iLoaiChungTu },
            success: function (data) {
                var lenghThData = data.lstData.length;
                if (data != undefined && lenghThData != 0) {
                    var sCombobox = [];
                    for (var i = 0; i < lenghThData; ++i) {
                        sCombobox.push("<option value='" + data.lstData[i].iID_KeHoachVonNamDeXuatID + "'>" + data.lstData[i].sSoQuyetDinh + "</option>");
                    }
                    $("#iID_KeHoach5Nam_DeXuatID").append(sCombobox.join(""));
                }
            }
        });
    }

    function ValidateDataBCTH(arrIdNguonVon) {
        debugger;
        var Title = 'Lỗi in báo cáo tổng hợp';
        var Messages = [];
        var obj = {};

        obj.iLoaiChungTu = $("#iIdLoaiChungTuTH").val();
        obj.iID_MaDonViQuanLyID = $("#iID_DonViQuanLyIDTH").val();
        obj.iNamKeHoach = $("#iNamKeHoachTH").val();
        obj.iID_KeHoachVonNam_DeXuatID = $("#iID_KeHoach5Nam_DeXuatID").val();
        obj.iIDNguonVon = $("#iID_MaNguonNganSachTH").val();
        obj.sTenNguonVon = $("#iID_MaNguonNganSachTH option:selected").text();
        obj.iIdBaoCaoMau = $("#iIdMauBaoCaoTH").val();
        obj.iID_LoaiCongTrinh = $("#iID_LoaiCongTrinhTH").val();
        obj.iIdCongTrinh = $("#iIdCongTrinhTH").val();
        obj.fDonViTinh = $("#ValueItemTH").val();
        obj.sDonViTinh = $("#ValueItemTH option:selected").text();
        obj.txt_TieuDe1 = $("#txt_TieuDe1TH").val();
        obj.txt_TieuDe2 = $("#txt_TieuDe2TH").val();

        if (obj.iLoaiChungTu == null || obj.iLoaiChungTu == "") {
            Messages.push("Loại chứng từ chưa chọn !");
        }
        else {
            if (obj.iID_MaDonViQuanLyID == null || obj.iID_MaDonViQuanLyID == "") {
                Messages.push("Đơn vị chưa chọn !");
            }
            if (obj.iNamKeHoach == null || obj.iNamKeHoach == "") {
                Messages.push("Năm kế hoạch chưa chọn !");
            }
            if (obj.iID_KeHoachVonNam_DeXuatID == null || obj.iID_KeHoachVonNam_DeXuatID == "" || obj.iID_KeHoachVonNam_DeXuatID == '00000000-0000-0000-0000-000000000000') {
                Messages.push("Chứng từ chưa chọn !");
            }

            if (obj.iIdBaoCaoMau == "2" && obj.iLoaiChungTu == "2") {
                if (arrIdNguonVon == null || arrIdNguonVon == []) {
                    Messages.push("Nguồn vốn chưa chọn !");
                }
            }
            else
            {
                if (obj.iIDNguonVon == null || obj.iIDNguonVon == "") {
                    Messages.push("Nguồn vốn chưa chọn !");
                }
            }

            if (obj.iLoaiChungTu == "1") {
                obj.iIdBaoCaoMau = null
                if (obj.iIdCongTrinh == null || obj.iIdCongTrinh == "") {
                    Messages.push("Công trình chưa chọn !");
                }
            }
            else
            {
                obj.iIdCongTrinh = null;
                if (obj.iIdBaoCaoMau == null || obj.iIdBaoCaoMau == "") {
                    Messages.push("Mẫu báo cáo chưa chọn !");
                }
            }
            if (obj.iID_LoaiCongTrinh == null || obj.iID_LoaiCongTrinh == "") {
                Messages.push("Loại công trình chưa chọn !");
            }
            if (obj.fDonViTinh == null || obj.fDonViTinh == "") {
                Messages.push("Đơn vị tính chưa chọn !");
            }
            if (obj.txt_TieuDe1 == null || obj.txt_TieuDe1 == "") {
                Messages.push("Tiêu đề 1 chưa nhập !");
            }
            if (obj.txt_TieuDe1 == null || obj.txt_TieuDe1 == "") {
                Messages.push("Tiêu đề 2 chưa nhập !");
            }
        }
        if (Messages != null && Messages != undefined && Messages.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Modal/OpenModal",
                data: { Title: Title, Messages: Messages, Category: ERROR },
                success: function (data) {
                    $("#divModalConfirm").html(data);
                }
            });
            return null;
        }
        return obj;
    }

    function printBCTH(isPdf)
    {
        var arrIdNguonVon = GetNguonVonBCTH();
        var arrIdDVQL = [];
        var data = ValidateDataBCTH(arrIdNguonVon);
        if (data == null)
        {
            return false;
        }
        ExportBaoCao(data, arrIdNguonVon, arrIdDVQL, true, isPdf);
    }

</script>
<script type="text/javascript" src="/Scripts/js/js_app.js"></script>
<script type="text/javascript" src="~/Scripts/js/js_vdtWeb.js"></script>


