
@using Viettel.Domain.DomainModel
@using Viettel.Models.QLNH.QuyetToan

<div class="modal-body">
    <input type="hidden" id="txtNamKeHoach" value="@ViewBag.iNamKeHoach" />

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="txtTieuDe1">Tiêu đề 1</label>
            @Helpers.Required()
            <div>
                <input type="text" required id="txtTieuDe1" class="form-control" maxlength="255" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="txtTieuDe2">Tiêu đề 2</label>
            @Helpers.Required()
            <div>
                <textarea id="txtTieuDe2" required class="form-control" maxlength="255"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div>
                <label for="txtDonViCapTren">Đơn vị cấp trên</label>
                @Helpers.Required()
                <div>
                    <input type="text" required id="txtDonViCapTren" class="form-control" maxlength="255" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <label for="txtDonViCapDuoi">Đơn vị</label>
                @Helpers.Required()
                <div>
                    <input type="text" required id="txtDonViCapDuoi" class="form-control" maxlength="255" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>

</div>
@Html.Partial("_ui_chuky")
<div class="modal-footer">
    <div class="text-center">
        <button class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</button>
        <button class="btn-mvc btn-mvc-green btn-print" onclick="printBaoCao('pdf')"><span>Xuất file PDF</span></button>
        <button class="btn-mvc btn-mvc-green btn-print" onclick="printBaoCao('xlsx')"><span>Xuất file Excel</span></button>
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
    </div>
</div>
<input type="hidden" id="urlExportBCChiTiet" value="@Url.Action("ExportQuyetToanNguonChiDacBiet", "BaoCaoQuyetToanNguonChiDacBiet")" />
<style>
    .ml-0 {
        margin-left: 0 !important;
    }

    .w-100 {
        width: 100%;
    }



    .d-flex {
        display: flex
    }

    .justify-content-center {
        justify-content: center
    }
</style>