@using Viettel.Domain.DomainModel
@using Viettel.Models.CPNH

<div class="modal-body">
    <div class="form-group row">
        <input type="hidden" id="txtNamKeHoach" value="@ViewBag.iNamKeHoach" />
        <input type="hidden" id="txtPrintsTenDonVi" value="@ViewBag.sTenDonVi" />
        <input type="hidden" id="txtPrinttabTable" value="@ViewBag.tabTable" />
        <input type="hidden" id="txtPrintiTuNam" value="@ViewBag.iTuNam" />
        <input type="hidden" id="txtPrintiDenNam" value="@ViewBag.iDenNam" />
        <input type="hidden" id="txtPrintiDonvi" value="@ViewBag.iDonvi" />
        <input type="hidden" id="txtPrintiQuyList" value="@ViewBag.iQuyList" />
        <input type="hidden" id="txtPrintiNam" value="@ViewBag.iNam" />

        <div class="col-sm-12">
            <label for="txtTieuDe1">Tiêu đề 1</label>
            @Helpers.Required()
            <div>
                <input type="text" required id="txtTieuDe1" class="form-control" maxlength="255" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="txtTieuDe2">Tiêu đề 2</label>
            @Helpers.Required()
            <div>
                <textarea id="txtTieuDe2" required class="form-control" maxlength="255"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div>
                <label for="txtDonViCapTren">Đơn vị cấp trên</label>
                @Helpers.Required()
                <div>
                    <input type="text" required id="txtDonViCapTren" class="form-control" maxlength="255" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <label for="txtDonViCapDuoi">Đơn vị</label>
                @Helpers.Required()
                <div>
                    <input type="text" required id="txtDonViCapDuoi" class="form-control" maxlength="255" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div>
                <label for="slbDonViUSD">Đơn vị tính (USD)</label>
                @Helpers.Required()
                <div>
                    <select id="slbDonViUSD" name="slbDonViUSD" class="form-control">
                        @if (ViewBag.ListDVUSD != null)
                        {
                            foreach (var donViUSD in (List<Dropdown_SelectValue>)ViewBag.ListDVUSD)
                            {
                                <option value="@donViUSD.Value">@Html.Raw(donViUSD.Label)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <label for="slbDonViVND">Đơn vị tính (VND)</label>
                @Helpers.Required()
                <div>
                    <select id="slbDonViVND" name="slbDonViVND" class="form-control">
                        @if (ViewBag.ListDVVND != null)
                        {
                            foreach (var donViVND in (List<Dropdown_SelectValue>)ViewBag.ListDVVND)
                            {
                                <option value="@donViVND.Value">@Html.Raw(donViVND.Label)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.tabTable == 2)
    {
        <div class="form-group row">
            <div class="col-sm-6">
                <div>
                    <input type="checkbox" id="chkInToMot" autocomplete="off" /> <label for="chkInMotTo">  In tờ một</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <input type="checkbox" id="chkInToHai" autocomplete="off" /> <label for="chkInMotTo">  In tờ hai</label>
                </div>
            </div>
        </div>
    }

            @Html.Partial("_ui_chuky")
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</button>
                    <button class="btn-mvc btn-mvc-green btn-print" onclick="printBaoCao('pdf')"><span>Xuất file PDF</span></button>
                    <button class="btn-mvc btn-mvc-green btn-print" onclick="printBaoCao('xlsx')"><span>Xuất file Excel</span></button>
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
                </div>
            </div>
            <input type="hidden" id="urlExport" value="@Url.Action("ExportExcelBaoCao", "ThucHienNganSach")" />
            <style>
                .ml-0 {
                    margin-left: 0 !important;
                }

                .w-100 {
                    width: 100%;
                }



                .d-flex {
                    display: flex
                }

                .justify-content-center {
                    justify-content: center
                }
            </style>
