@model VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong.KeHoachVonNamPhanBoVonDonViPheDuyetChiTietGridViewModel
@{
    Layout = "~/Views/shared/sheet/_LayoutSheetFrame.cshtml";
}
@section Styles{
    <link rel="Stylesheet" type="text/css" href="~/Content/css/sheet.css">
}
<style>
    .table-header1 {
        height: 90px;
    }
</style>

<div>
    <input type="hidden" id="modelActive" value="@ViewBag.modelActive" />
    <input type="hidden" id="iId_parent" value="@ViewBag.idParent" />
    <input type="hidden" id="iIdKeHoachDeXuatId" value="@Model.KHVonNamPhanBoVon_DonVi_PheDuyet.iID_VonNamDeXuatID" />
</div>
@Html.Partial("_SheetSearch_KHVPhanBoVonDVPheDuyet", Model.Sheet)
@Html.Partial("_SheetEditor", Model.Sheet)


@section Scripts{
    @Html.Partial("_SheetScript")

    <script type="text/javascript" src="/Scripts/js/js_app.js"></script>
    <script type="text/javascript" src="~/Scripts/js/js_vdtWeb.js"></script>
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsKeHoachVonNamPhanBoVonDVPheDuyetChiTiet.js"></script>
    <script>
        $(document).ready(function () {
            Bang_arrDSTruongTien = '@MucLucNganSachModels.strDSTruongTien'.split(',');
            Bang_Url_getGiaTri = '@Url.Action("get_GiaTri", "Public", new { area = "" })';
            Bang_Url_getDanhSach = '@Url.Action("get_DanhSach", "Public", new { area = "" })';
            BangDuLieu_DuocSuaChiTiet = '@Model.Sheet.Table.IsEditable';

            if (BangDuLieu_DuocSuaChiTiet) {
                Bang_keys.fnSetFocus(null, null);
            }

            setFontWeight();
            setEditHC();
        });

        document.addEventListener('keydown', eventKey);
        function eventKey(e) {
            if (e != null && e != undefined) {
                if (e.key == "F10") {
                    KHVonNamPBVDVPheDuyet_ChiTiet_BangDuLieu_Save();
                }

                if (e.key == "F9") {
                    BangDuLieu_onKeypress_F9();
                }
            }
        }
        function setEditHC() {
            for (var h = 0; h < Bang_nH; h++) {
                //var active = $("#modelActive").val();
                //for (c = 0; c < Bang_nC; c++) {
                //    if (active == false) {
                //        Bang_arrEdit[h][c] = active;
                //    }
                //}
                //for (c = 0; c < Bang_nC; c++) {
                //    if (4 < c && c < 9) {
                //        Bang_arrEdit[h][c] = true;
                //    } else {
                //        Bang_arrEdit[h][c] = false;

                //    }
                //}
                var iID_parent = $("#iId_parent").val();
                var GUID_EMPTY = '00000000-0000-0000-0000-000000000000';
                var dataInputIndex = {
                    sTenDuAnIndex: -1,
                    sLoaiDuAnIndex: -1,
                    sTenLoaiCongTrinhIndex: -1,
                    sTenDonViIndex: -1,
                    fGiaTriDeNghiIndex: -1,
                    fGiaTriPhanBoIndex: -1,
                    fGiaTriPhanBoDCIndex: -1,
                    sGhiChuIndex: -1,
                    iID_ParentIndex: -1,
                }
                for (c = 0; c < Bang_nC; c++) {
                    var sKey = Bang_arrMaCot[c];

                    if (sKey == "sTenDuAn") {
                        dataInputIndex.sTenDuAnIndex = c;
                    }
                    else if (sKey == "sLoaiDuAn") {
                        dataInputIndex.sLoaiDuAnIndex = c;
                    }
                    else if (sKey == "sTenLoaiCongTrinh") {
                        dataInputIndex.sTenLoaiCongTrinhIndex = c;
                    }
                    else if (sKey == "sTenDonVi") {
                        dataInputIndex.sTenDonViIndex = c;
                    }
                    else if (sKey == "fGiaTriDeNghi") {
                        dataInputIndex.fGiaTriDeNghiIndex = c;
                    }
                    else if (sKey == "fGiaTriPhanBo") {
                        dataInputIndex.fGiaTriPhanBoIndex = c;
                    }
                    else if (sKey == "fGiaTriPhanBoDC") {
                        dataInputIndex.fGiaTriPhanBoDCIndex = c;
                    }
                    else if (sKey == "sGhiChu") {
                        dataInputIndex.sGhiChuIndex = c;
                    }
                    else if (sKey == "iID_Parent") {
                        dataInputIndex.iID_ParentIndex = c;
                    }
                }
                if (iID_parent != undefined && iID_parent != null && iID_parent != '' && iID_parent != GUID_EMPTY) {
                    Bang_arrEdit[h][dataInputIndex["sTenDuAnIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sLoaiDuAnIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sTenLoaiCongTrinhIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sTenDonViIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriDeNghiIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriPhanBoIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriPhanBoDCIndex"]] = true;
                    Bang_arrEdit[h][dataInputIndex["sGhiChuIndex"]] = true;
                    Bang_arrEdit[h][dataInputIndex["iID_Parent"]] = false;

                } else {
                    Bang_arrEdit[h][dataInputIndex["sTenDuAnIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sLoaiDuAnIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sTenLoaiCongTrinhIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sTenDonViIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriDeNghiIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriPhanBoIndex"]] = true;
                    Bang_arrEdit[h][dataInputIndex["fGiaTriPhanBoDCIndex"]] = false;
                    Bang_arrEdit[h][dataInputIndex["sGhiChuIndex"]] = true;
                    Bang_arrEdit[h][dataInputIndex["iID_Parent"]] = false;
                }

            }
        }
    </script>
}
